<style>
        body{ font: normal 17pt Arial; 
            background-color: rgb(138, 137, 137);

        }
        input {
            font: normal 17pt Arial;
            width: 150px;
        }
    </style>
<style>
    body { font: normal 18pt Arial;
    }
    div#res { 
        margin-top: 20px;
    }
    div#res2 {
        margin-top: 20px;
    }
    div#res3 {
        margin-top: 20px;
    }
    div#res4 {
        margin-top: 20px;
    }
    div#res5 {
        margin-top: 20px
    }

</style>
