<style>
        body{ font: normal 17pt Arial; 
        background-image: linear-gradient(to top, #525050, #1c1b1b);    ;
        }
        input {
            font: normal 17pt Arial;
            width: 150px;
            border-radius: 75px;
            color: rgb(0, 0, 0);
            background-color: gray;
        
        }
    
    
      
    </style>
<style>
    body { font: normal 18pt Arial;
    }
    div#res { 
        margin-top: 20px;
    }
    div#res2 {
        margin-top: 20px;
    }
    div#res3 {
        margin-top: 20px;
    }
    div#res4 {
        margin-top: 20px;
    }
    div#res5 {
        margin-top: 20px;

    }
    div#input{
        margin-top: 100px;
    }
   
    

</style>
